* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:rgb(58, 223, 28);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: gray;
    display: flex;
    justify-content: space=between;
    flex-wrap: wrap;
    padding: 20px 35px;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:white;
    margin: 0;
}
header nav{
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vs;

}
.hero{
    background-image: url("../images/sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh; 

}
.herotxt {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: black;
    font-size: 18px;
    line-height: 2;


}
.boxsub {
border: red solid 1px;
flex-wrap: wrap;
display: flex;
justify-content: space-between;
border-width: 3px;
color: black;

}
.boxmain {
    border: purple solid 1px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-width: 3px;
    color: blue
}
.work-projects{
    display: flex;
    flex-wrap: wrap;
    border: black solid 3px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}